body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1em 0;
  padding: 1em;
  border: solid;
  text-align: center;
  background-color: lightblue;
}

.products img {
  margin: 0.5em 0;
}

.title {
  text-align: center;
}
.cart {
  text-align: center;
}
